/* NOT SURE WHERE THESE ARE FROM */

@keyframes messageIn{
    0%{
      opacity: 0;
    }
    5%{
    display: block;
  }
    100%{
      opacity: 1;
    }
}
@keyframes messageOut{
    0%{
      opacity: 1;
    }
    5%{
      display: block;
    }
    100%{
      opacity: 1;
    }
}



  /* menu buttons animations */


  @keyframes offOnFadeIn{
    0% {opacity: 0}
    100%{opacity: 0.85}
  }

  /* ------------------------------------------------- */

  @keyframes buttonStart{
    0%{fill-opacity: 0}
    100%{fill-opacity: 0}
  }
  @keyframes letterStart{
    0%{fill-opacity: 1}
    100%{fill-opacity: 1}
  }
  @keyframes modalBegin{
    0%{display: block}
    100%{display: block}
  }

  
  @keyframes getOn{
    0%{fill-opacity: 0}
    50%{fill-opacity: 1}
    100%{fill-opacity: 0.85}
  }

  @keyframes getOff{
    0%{fill-opacity: 0.85}
    25%{fill-opacity: 1}
    100%{fill-opacity: 0}
  }
  @keyframes overInActive{
    0%{fill-opacity: 0}
    50%{fill-opacity: 0.5}
    100%{fill-opacity: 0.25}
  }
  @keyframes offInActive{
    0%{fill-opacity: 0.25}
    50%{fill-opacity: 0.35}
    100%{fill-opacity: 0} 
  }
 @keyframes clickOn{
  0%{fill-opacity: 0.65}
  75%{fill-opacity: 0.95}
  100%{fill-opacity: 0.65} 
 }
 @keyframes clickOff{
  0%{fill-opacity: 0.65}
  35%{fill-opacity: 0.85}
  100%{fill-opacity: 0.45} 
 }

  
  @keyframes overActive{
    0%{fill-opacity: 0.85}
    50%{fill-opacity: 0.9}
    100%{fill-opacity: 0.65}
  }
  @keyframes offActive{
    0%{fill-opacity: 0.65}
    50%{fill-opacity: 1}
    100%{fill-opacity: 0.85}
  }
  @keyframes clickActive{
    0%{fill-opacity: 0.65}
    50%{fill-opacity: 1}
    100%{fill-opacity: 0.45}
  }
  @keyframes clickInactive{
    0%{fill-opacity: 0.45}
    50%{fill-opacity: 1}
    100%{fill-opacity: 0.75}
  }
  @keyframes letterClick{
    0%{fill-opacity: 0.65}
    50%{fill-opacity: 1}
    100%{fill-opacity: 0.75}
  }
  @keyframes letterOver{
    0%{fill-opacity: 1}
    75%{fill-opacity: 0.25}
    100%{fill-opacity: 0.65}
  }
  @keyframes letterOff{
    0%{fill-opacity: 0.65}
    25%{fill-opacity: 0.25}
    75%{fill-opacity: 1}
    100%{fill-opacity: 1}
  }
  @keyframes onoffBtnOFFInactive{
    0%{fill-opacity: 0.45}
    50%{fill-opacity: 0.75}
    100%{fill-opacity: 0.25} 
  }
  @keyframes touchOver{
    0%{fill-opacity: 0}
    50%{fill-opacity: 0.5}
    100%{fill-opacity: 0}
  }
  @keyframes activeTouchOver{
    0%{fill-opacity: 0.85}
    50%{fill-opacity: 0.25}
    100%{fill-opacity: 0.85}
  }
  @keyframes randimation{
    0%{fill-opacity: 0}
    50%{fill-opacity: 0.5}
    100%{fill-opacity: 0}
  }
  @keyframes afterRandimation{
    0%{fill-opacity: 0}
    50%{fill-opacity: 0}
    100%{fill-opacity: 0}
  }
  @keyframes fretRandimation{

  }
  @keyframes buttonRandimation{

  }
  /* display is nto animimatable!!! */

  @keyframes letterRandimation{
    0%{fill-opacity: 1}
    50%{fill-opacity: 0}
    100%{fill-opacity: 1}
  }
  @keyframes lettersOnAnimate{
    0%{fill-opacity: 0}
    50%{fill-opacity: 0}
    100%{fill-opacity: 1}
  }
  @keyframes touchDownActive{
    0%{fill-opacity: 0.85}
    50%{fill-opacity: 1}
    100%{fill-opacity: 0.85}
  }
  @keyframes touchDownINActive{
    0%{fill-opacity: 0}
    50%{fill-opacity: 0.85}
    100%{fill-opacity: 0}
  }
  @keyframes randomBubbleON{
    0%{fill: white}
    50%{fill: black}
    100%{fill: black}
  }
  @keyframes randomBubbleOFF{
    0%{fill: black}
    50%{fill: white}
    100%{fill: white}
  }
  @keyframes modalOn{
    0%{
      opacity: 0;
    }

    100%{
      opacity: 1;
    }
  }
  @keyframes modalOff{
    0%{
      opacity: 1;
    }
    100%{
      opacity: 0;
    }
  }

:root{
  --animate: buttonStart;
  --animateLetter: letterStart;
  --animateBubble: bubbleLetterStart;
  --animateModal: modalBegin;
}
  .message{
    opacity: 0;
  }
 .buttonBehaviour{
    animation: var(--animate) 1s forwards;
 }
 .letterBehaviour{
    animation: var(--animateLetter) 1s forwards 0.15s;
  }
  .bubbleLetter{
    fill: white;
    animation: var(--animateBubble) 2s forwards 0.15s;
  }
  .modal{
    display: none;
    opacity: 0;
    animation: var(--animateModal) 1s forwards;

  }
  .pushIt{
    fill-opacity: 1;
  }
  .fret{
    fill-opacity: 0;
  }

  