/* NOT SURE WHERE THESE ARE FROM */

@keyframes messageIn{
    0%{
      opacity: 0;
    }
    5%{
    display: block;
  }
    100%{
      opacity: 1;
    }
}
@keyframes messageOut{
    0%{
      opacity: 1;
    }
    5%{
      display: block;
    }
    100%{
      opacity: 1;
    }
}

/* fret events to be triggered by js events */

@keyframes noteDown{
    0%{
     fill-opacity: 0.35;
    }
    50%{
      fill-opacity: 1;
    }
    100%{
      fill-opacity: 0.5;
     }
  }
 @keyframes activeNoteDown{
  0%{
    fill-opacity: 0.35;
   }
   50%{
     fill-opacity: 1;
   }
   100%{
     fill-opacity: 0.5;
    }
 }
  @keyframes hoverOn{
    0%{
      fill-opacity: 0;
     }
    100%{
      fill-opacity: 0.35;
    }
  }
  @keyframes activeHoverOn{
    0%{fill-opacity: 0.85}
    100%{fill-opacity: 0.55}
  }
  @keyframes hoverOff{
    0%{
      fill-opacity: 0.35;
   }
    100%{
     fill-opacity: 0;
     fill: white;
    }
  }
  @keyframes activeHoverOff{
    0%{fill-opacity: 0.5;}
    100%{fill-opacity: 0.85}
  }
  @keyframes touchOver{
    0%{
      fill-opacity: 0;
    }
    50%{
      fill-opacity: 0.5;
    }
    100%{
      fill-opacity: 0;
    }
  }
  @keyframes activeTouchOver{
    0%{
      fill-opacity: 0.85;
    }
    50%{
      fill-opacity: 0.5;
    }
    100%{
      fill-opacity: 0.85;
    }
  }

  @keyframes activeLetterHoverOn{
    0%{
      fill-opacity: 1;
    }
    75%{
      fill-opacity: 1;
    }
  100%{
      fill-opacity: 0.25;
    }
  }
  @keyframes activeLetterHoverOff{
    0%{
      fill-opacity: 0.25;
    }
    75%{
      fill-opacity: 1;
    }
    100%{
      fill-opacity: 1;
    }
  }
  @keyframes activeLetterClickOn{
    0%{
      fill-opacity: 0.85;
    }
    75%{
      fill-opacity: 0.25;
    }
    100%{
      fill-opacity: 0.85;
    }
  }




  /* .correct{
    fill-opacity: 0.75;
  } */

  /* turns the notes that have been answered correctlly on and off via the score buttons */

  
  @keyframes buttonOff{
    0%{
      fill-opacity: 0.85;
    }
    25%{
      fill-opacity: 1;
    }
    100%{
      fill-opacity: 0;}
    }
  @keyframes letterOff{
    0%{
      fill-opacity: 1;
    }
    75%{
      fill-opacity: 0;
    }
    100%{
      fill-opacity: 0;
    }
  }

  @keyframes buttonOn{
    0%{fill-opacity: 1;
    }
    100%{fill-opacity: 0;}
  }
  @keyframes letterOn{
    0%{fill-opacity: 0;}
    100%{fill-opacity: 1;}
  }

  @keyframes buttonCorrectOn{
    0%{fill-opacity: 0;
    }
    100%{fill-opacity: 1;}
  }
  @keyframes letterCorrectButtonOn{
    0%{fill-opacity: 0;}
    100%{fill-opacity: 1;}
  }

  /* menu buttons animations */


  @keyframes offOnFadeIn{
    0% {opacity: 0}
    100%{opacity: 0.85}
  }

  /* ------------------------------------------------- */

  @keyframes buttonStart{
    0%{fill-opacity: 0}
    100%{fill-opacity: 0}
  }
  
  @keyframes getOn{
    0%{fill-opacity: 0}
    50%{fill-opacity: 1}
    100%{fill-opacity: 0.85}
  }

  @keyframes getOff{
    0%{fill-opacity: 0.85}
    50%{fill-opacity: 1}
    100%{fill-opacity: 0}
  }
  @keyframes overInActive{
    0%{fill-opacity: 0}
    50%{fill-opacity: 0.85}
    100%{fill-opacity: 0.45}
  }

  @keyframes offInActive{
    0%{fill-opacity: 0.45}
    100%{fill-opacity: 0} 
  }
  @keyframes overActive{
    0%{fill-opacity: 0.85}
    50%{fill-opacity: 1}
    100%{fill-opacity: 0.95}
  }
  @keyframes offActive{
    0%{fill-opacity: 0.95}
    100%{fill-opacity: 0.85}
  }
:root{
  --animate: buttonStart;
}
 .buttonBehaviour{
    animation: var(--animate) 1s forwards;
 }
  .onOffButtons{
    fill-opacity: 0;
  }
  .getOn{
    animation: getOn 1s forwards;
    /* opacity: 0.85; */
  }
  .getOff{
    animation: getOff 1s forwards;
    /* opacity: 0; */
  }
  .mouseOVERinActive{
    animation: overInActive 1s forwards;

  }
  .mouseOFFinActive{
    animation: offInActive 1s forwards;
  }
  .mouseOVERActive{
    animation: offInActive 1s forwards;
  }
  .mouseOFFActive{

  }
  

  .clickActive{

  }
  .clickInactive{

  }
  .TouchOVERactive{

  }
  .TouchOVERinActive{

  }
  
  @keyframes offOnFadeOut {
    0% {opacity: 0.85}
    100%{opacity: 0}
  }
  @keyframes offOnHov {
    0% {opacity: 1}
    50%{opacity: 0}
    100%{opacity: 1}
  }

  /* I think this is the score card buttons */

  @keyframes onOffHoverOn{
    0%{fill-opacity: 0}
    100%{fill-opacity: 0.95}
}
@keyframes onOffHoverOff{
    0%{fill-opacity: 0.5}
    100%{fill-opacity: 0}
}



@keyframes inactiveOnOffHoverOff{
    0%{fill-opacity: 0.85}
    100%{fill-opacity: 0}
}
@keyframes onOffClick{
  0%{fill-opacity: 0.5}
  50%{fill-opacity: 0.75}
  100%{fill-opacity: 0.5}
}